<!DOCTYPE html>
<html>
<head>
    <title>Hotel Digital Menu</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>🏨 Grand Hotel</h1>
    <p>Welcome to our digital menu</p>
    <p>Table: {{ table }}</p>
</header>


<div class="container">


    <div class="card">

        <img class="food-image" 
        src="{{ url_for('static', filename='images/chicken.jpg') }}">

        <h2>Grilled Chicken</h2>

        <div class="category">
            Main Meal
        </div>

        <p>
            Delicious grilled chicken served with fries and salad.
        </p>

        <h3>Ksh 700</h3>

        <button class="add-btn">
            Add Order
        </button>

    </div>




    <div class="card">

        <img class="food-image"
        src="{{ url_for('static', filename='images/pizza.jpg') }}">

        <h2>Cheese Pizza</h2>

        <div class="category">
            Fast Food
        </div>

        <p>
            Fresh pizza prepared with cheese and vegetables.
        </p>

        <h3>Ksh 900</h3>

        <button class="add-btn">
            Add Order
        </button>

    </div>




    <div class="card">

        <img class="food-image"
        src="{{ url_for('static', filename='static/images/chicken pilau.jpg') }}">

        <h2>Fresh Juice</h2>

        <div class="category">
            Drinks
        </div>

        <p>
            best pilau in town!
        </p>

        <h3>Ksh 250</h3>

        <button class="add-btn">
            Add Order
        </button>

    </div>


</div>


</body>
</html>